
h3{
 
   
    text-align: center;
    text-transform: uppercase;
}
body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(A.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 50px auto;
    color: blanchedalmond;
}
.form-group{

    color: blanchedalmond;
}
.form-control{
    align-items: center;
    background-color: transparent !important;
}
.Sign{
    background: rgba(211, 211,211,0.5);
    padding: 30px;
   }



   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: white;
}